{% extends "base.html.twig" %}
{% block  body %}
    <header style="display: flex;background: #868686;padding: 20px">
        <h3>Реддиты({{ sort }})</h3>
        <div style="margin-left: 80%">
            <a style="color: black" href="{{ path('registration') }}">Регистрация</a>
            <a style="color: black" href="{{ path('log-in') }}">Вход</a></div>
    </header>
    <a href="{{ path('home') }}">Главная</a>
    {{ form(form) }}
    <div class="container">
        <div class="row">
            {% for datas in data %}
                <a href="{{ path('entry',{'id': datas['id']}) }}">
                    <div class="col sm-2" style="border: #868686 solid 2px">
                        <p>Автор: {{ datas['author'] }}</p>
                        <p>Загаловок: {{ datas['title'] | truncate(20) }}</p>
                        {% if  datas['image'] is not empty %}
                            <img style="width: 150px;height: 150px" src="{{ datas['image'] }}">
                        {% endif %}
                        <p>Дата: {{ datas['date'] }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}