{% extends 'base.html.twig' %}

{% block body %}
    {% for data in entry %}
        <div class="col sm-2" style="border: #868686 solid 2px">
            <p>Автор: {{ data['author'] }}</p>
            <p>Загаловок: {{ data['title'] | truncate(20) }}</p>
            {% if  data['image'] is not empty %}
                <img style="width: 300px;height: 300px" src="{{ data['image'] }}">
            {% endif %}
            <p>Дата: {{ data['date'] }}</p>
            <a href="{{ path('myFavorites',{'id':data['name']}) }}">
                <button>Добавить в избранное</button>
            </a>
        </div>
    {% endfor %}
{% endblock %}

{% block title %}

{% endblock %}

